.DS_Store
node_modules
venv
cache
scripts
misc
other
info
__pycache__
.gcloudignore
app.yaml
.env
.flaskenv
remote_deploy.sh
vivacio_deploy.sh
backups
matrix
network
dataviz
database
production_env
composer-explorer-4ab69db6d8b0.json
old_code.py
GPT Improvements.txt
logs
certs
images

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
commands
Todo
todo
snippets
*.ipynb
.ipynb_checkpoints
database_urls.txt
import_composers.py
test_secrets.py
import_wizard.py
import_wizard2.py
info.sh
tasks.todo
misc_code.py
*crt
nginx.config
cron.log
dist
*.sql
*.mailrc


