html {
  --dark-gray: #343a40;
  --search-gray: #343a40;
  --old-search-gray: #3b4047;
  --medium-dark-gray: darkgray;
  --medium-gray: #54595f;
  --medium-light-gray: lightgray;
  --light-gray: #f1f2f4;
  --my-white: #fff;
  --scroll-color: #c9cccf;
  --scroll-color-light: #d6d9db;
}

.subforumlisting{
  border-radius: 6px;
  background: var(--my-white);
  border: 1px solid #d4d7dd;
  padding: 20px;
  margin-bottom: 10px;
}

.subforumtitleold{
}

.subforumtitlenew{
  font-weight: bold;
}

.subforumheadertitle{
  font-weight: bold;
}

.post{
  border-radius: 0px;
  background: var(--my-white);
  border: 1px solid #d4d7dd;
  padding: 20px;
  margin-bottom: -2px;
}

.title{
  border-radius: 0px;
  background: var(--my-white);
  border: 1px solid #d4d7dd;
  padding: 20px;
  margin-bottom: -2px;
}

.post_name{
  margin-bottom: 50px;
}

blockquote{
  font-size: 14px;
  background-color: var(--light-gray);
  border-radius: 6px;
  margin-bottom: 0px;
}

.breadcrumb{
  background: white;
  border: 1px solid #d4d7dd;
  margin-bottom: 30px;
}

.forum_table{
  width: 100%;
}

.forum_avatar{
  height: 30px;
  object-fit: cover;
  width: 30px;
  border-radius: 50%;
  margin-top:-4px;
}

.forum_img{
    width: 30px;
  border-radius: 50%;
}

.date{
  display: inline;
  color: #8d95a5;
}

.comment_text{
  margin-bottom: 0px;
}

.what-we-do2 .icon-box .icon {
  align-items: center;
  background: #f0f3f4;
  border-radius: 50px;
  display: flex;
  height: 48px;
  justify-content: center;
margin-right: 16px;
  width: 48px;
}

.what-we-do2 .icon-box .icon i {
  color: var(--dark-gray);
  font-size: 20px;
}

.what-we-do2 .icon-box-highlight .icon {
  align-items: center;
  background: #e9e9e2;
  border-radius: 50px;
  display: flex;
  height: 48px;
  justify-content: center;
margin-right: 16px;
  width: 48px;
}

.what-we-do2 .icon-box-highlight .icon i {
  color: var(--dark-gray);
  font-size: 20px;
}

@media only screen and (max-width: 767px) {
.hide-mobile{
  display: none;
}
}

@media only screen and (min-width: 767px) {
.show-mobile{
  display: none;

}
}
