.container-fluid{
  background-color: var(--medium-gray);
  color: var(--search-gray);
}
.form-group{
  margin-bottom: 6px;
}
.last-col{
  padding-right: 5px !important;
}
.card-body{
  background: none !important;
}
.card {
  background: none;
  border: none;
}
.heading-card {
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.selector{
  height: 31px !important;
}
.radio-button-off{
  margin-top: 5px;
  border: 1px solid var(--orange) !important;
  background-color: var(--medium-gray) !important;
  height: 31px;
}
.radio-button-off-disabled{
  margin-top: 5px;
  border: 1px solid darkorange !important;
  background-color: var(--medium-gray) !important;
  height: 31px;
}
.radio-button-off:hover{
  margin-top: 5px;
  border: 1px solid var(--orange) !important;
  background-color: var(--orange) !important;
  height: 31px;
}
.form-row {
  margin-bottom: 0px;
}
.lead {
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
  padding-left: 10px;
  padding-bottom: 1px;
}
.col {
  padding: 0px;
  padding-left: 5px;
}
.selector{
  margin-top: 5px !important;
  font-size: 14px !important;
  fill: white;
}
>>> .vs__selected-options{
  flex-wrap: nowrap;
}
>>> .vs__selected{
  white-space:nowrap;
  overflow: hidden;
}
.allow-wrap >>> .vs__selected-options{
  flex-wrap: wrap !important;
}
input{
  font-size: 14px !important;
}
>>> {
  --vs-search-input-bg: none;
  --vs-font-size: 14px;
  --vs-controls-color: var(--my-white);
  --vs-border-color: var(--search-gray);
  --vs-border-width: 1px;
  --vs-selected-bg: var(--search-gray);
  --vs-selected-color: var(--my-white);
  --vs-search-input-color: var(--my-white);
}
.performer-search{
  margin-top: 5px !important;
  font-size: 14px;
  background-color: var(--search-gray) !important;
  height: 30.5px !important;
  border: none !important;
  border-radius: 4px;
}
.work-search{
  margin-top: 5.5px !important;
  font-size: 14px;
  background-color: var(--search-gray) !important;
  height: 30.5px !important;
  border: none !important;
  border-radius: 4px;
}
.sub-row{
  margin: 0px;
}
.work-search-field{
  margin-top: 5px;
  height: 31px;
  border: 1px solid var(--dark-gray) !important;
}
.col-padding-right{
  padding-left: 0px;
  padding-right: 2.5px;
}
.col-padding-left{
  padding-left: 2.5px;
  padding-right: 0px;
}
.col-no-padding-left{
  padding-left: 0px;
}