<style>
.navbar{
    height: 66px;
    border-radius: 0px;
    background-color: var(--dark-gray) !important;
}
h1 {
    margin-top: 5px;
}
img{
    margin-top: 12px;
}
</style>
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a href="/">
        <img src="https://usc1.contabostorage.com/a36ba68caf9842799883275ab3ad3a88:composer-explorer.bucket/static/assets/logo.png" class="d-inline-block align-top logo" alt="Composer Explorer" height="40px"/>
      </a>
    </div>
  </div>
</nav>