{% extends 'bootstrapbase.html' %}
{% from 'bootstrap4/pagination.html' import render_pagination %}
{% block head %}
{{super()}}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<meta name="description" content="Portal for Classical music streaming on Spotify.">
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}

    {{ moment.include_moment() }}
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Composer Explorer{% else %}Welcome to Composer Explorer{% endif %}
{% endblock %}

{% block navbar %}
{% include '_navbar.html' %}
{% endblock %}

{% block content %}
<div class="container">
{% block app_content %}{% endblock %}
</div>
{% endblock %}
