{% extends "base.html" %} {% block head %} {{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='forum.css')}}" />
{% endblock %} 
{% block app_content %}
<div class="container">
<h1>Change Profile Picture</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
     {% for category, message in messages %}
    <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}

    <div class="row">
        <div class="col-md-4">

<form method="POST" action="/change_avatar" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.choice.label }} {{ form.choice }}
    {{ form.link.label }} 
    {{ form.link }} <br>
    {{ form.link.description }} <br><br>
    {{ form.file.label }} 
    {{ form.file }}
    {{ form.link.description }}<br><br>
    <input type="submit" value="Submit">
</form>


        </div>
    </div>
    <hr>
    <a href="/">Cancel</a>
</div>
{% endblock %}



