{% from 'bootstrap4/form.html' import render_form %} {% extends "base.html" %} {% block head %} {{super()}} {% endblock %} {% block app_content %}
<div class="container">
  <h1>Change Display Name</h1>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %}

  <div class="row">
    <div class="col-md-4">
      {{ render_form(form) }}
    </div>
  </div>
  <hr />
  <a href="/">Cancel</a>
</div>
{% endblock %}
