<style>
.rcorners{
  border-radius: 6px;
  background: #fff;
  border: 1px solid #d4d7dd;
  padding: 5px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  height: auto;
}
.user-list-img {
  height: 70px;
  object-fit: cover;
  width: 70px;
  border-radius: 50%;
}
.table{
    margin-bottom: 0px !important;
}
h1 {
    margin-top: 15px;
}
</style>

<h1>User List</h1>

<p>{{usercount}} users total, sorted by date last seen:</p>


{% for user in users %}

  <div class="rcorners">
    <table class="table table-borderless table-condensed">
       <tr>
          <td width="85px">
             <img class ="user-list-img" src="{{ user.avatar(140) }}" />
          </td>
          <td style="vertical-align:middle;">
             <b>{{ user.display_name }}</b>
             {% if user.admin %}<span style="color:goldenrod;">Admin</span>{% endif %}
          {% if user.last_seen %}
             {% if user.last_seen > onlinecheck %}
             <span style="color:green;"><br><b>Online</b></span>
             {% else %}
             <br>Last seen {{ moment(user.last_seen).fromNow()}}<br>
             {% endif %}
          {% endif %}
          </td>
       </tr>
    </table>
  </div>
{% endfor %}
</div>






